In [0]:
CREATE TABLE IF NOT EXISTS lakehouse.bronze.sales_creditcard(
  CreditCardID STRING,
  CardType STRING,
  CardNumber STRING,
  ExpMonth STRING,
  ExpYear STRING,
  ModifiedDate STRING,
  IngestionDate TIMESTAMP NOT NULL
);

In [0]:
ALTER TABLE lakehouse.bronze.sales_creditcard SET TBLPROPERTIES('delta.feature.allowColumnDefaults' = 'enabled');

In [0]:
ALTER TABLE lakehouse.bronze.sales_creditcard ALTER COLUMN IngestionDate SET DEFAULT CURRENT_TIMESTAMP();